---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
      </li>
    {% endfor %}
  </ul>
  
  <h1 class="page-heading">Presentations</h1>

  <ul class="post-list">
      {% for presentation in site.data.settings.presentations %}
      <li>
        <span class="post-meta">{{ presentation.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="presentation-link" href="{{ presentation.url | prepend: site.baseurl }}">{{ presentation.name }}</a>
        </h2>
      </li>
      {% endfor %}
  </ul>
</div>
